@import "config";
@import "utilities";
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}

.login-form-section {
  background: $bg-color;
  .login-form {
    &__img {
      margin: 0 auto 3rem auto;
      width: 98%;
    }
    &__group {
      display: flex;
      flex-direction: column;
      padding: 1rem 0;
    }
    &__label {
      color: #fffefe;
      font-weight: 400;
      font-size: 1.01rem;
    }
    &__input {
      background: transparent;
      height: 2.6rem;
      width: 100%;
      border: 1px solid #dddcdc80;
      border-radius: 3px;

      &:focus {
        border-color: yellow;
      }
    }
  }
}
